
.nav{
    margin: 0;
    padding: 0;
    height: 90px;
    background: goldenrod;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
input{
    margin-top: 30px;
}
.inp{
    margin-top: 80px;
}
.but{
    margin-top: 80px;
    padding: 10px 20px;
    border: 1px solid #ccc;
    color: #333;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 5px;
    box-shadow: 0 3px 0 #ccc;
    transition: transform 0.2s, box-shadow 0.2s;
}
.but:hover {
    transform: translateY(2px);
    box-shadow: 0 1px 0 #ccc;
}
.glavnyi{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    background-image: url("https://pibig.info/uploads/posts/2022-11/1669740766_3-pibig-info-p-neonovii-gorod-oboi-vkontakte-3.jpg");
    background-attachment: fixed;
}
.container{
    width: 200px;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: goldenrod;
    margin: 20px;
    padding: 20px;
    background-color: #ffffff10;
    backdrop-filter: blur(90px);
    -webkit-backdrop-filter: blur(90px);
    border-radius: 10px;
}
.img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-top: 15px;
    background: darkgray;
}
h3{
    margin-top: 40px;
}
span{
    margin-top: 30px;
}
.button{
    width: 140px;
    margin-top: 30px;
    padding: 10px 20px;
    border: 1px solid #ccc;
    background-color: #eee;
    color: #333;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 5px;
    box-shadow: 0 3px 0 #ccc;
    transition: transform 0.2s, box-shadow 0.2s;
}
.button:hover {
    transform: translateY(2px);
    box-shadow: 0 1px 0 #ccc;
}
.but2{
    border: 1px solid #ccc;
    color: #333;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 5px;
    box-shadow: 0 3px 0 #ccc;
    transition: transform 0.2s, box-shadow 0.2s;
}

.but1{
    border: 1px solid #ccc;
    color: #333;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 5px;
    box-shadow: 0 3px 0 #ccc;
    transition: transform 0.2s, box-shadow 0.2s;
}
.input{
    padding: 0;
    margin: 0;
}
